#growth-card {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#growth-card-img {
    width: 50%;
    margin-top: 10px;
}

#growth-text {
    text-align: left;
}

#growth-card-porcent {
    margin: 0;
    font-size: 50px;
}

#growth-card-text {
    margin: 0;
    font-size: 18px;
}